/* Copyright 2023 Paweł Sacawa. All rights reserved.  */
Tetradactyl--HintLabel {
  background-color: #204e8a;
  color: white;
  font-weight: bold;
  padding: 1px;
}

Tetradactyl--HintLabel[selected="true"] {
  background-color: #30b000;
}
